---
layout: post
hidden:
  - header
  - navigator
  - related_posts
---

<p>
<b>Prerna IAS Academy</b> is an Institute with a penchant for excellence at all stages of the Preparation of UPSC CS Examination. The institute has been founded by <b>Mr. Rakesh Vasisht</b> and <b>Dr. Shubhra Mangal</b> in 2019. 
Dr. Shubhra Mangal, M.Sc., M.Phil. (Microbiology), Ph.D. in Educational Psychology, having an experience of 21 years in the field of Education as a Professor and Principal in  post-graduate college. She has also been associated with coaching and guiding civil services aspirants from the last 6 years at reputed institutes like Vajiram and Ravi, Chronicle and Shubhra Ranjan IAS.
Mr. Rakesh Vasisht, I.F.S. , Former PCCF , has 36 years of exoerience in the fiels of Environment and Ecology and has been associated with planning at the State level. He has taught and mentored innumerable successful candidates at many reputed institutes like Vajiram and Ravi, Chaitanya, Vision IAS in the last 7-8 years. 
He is passionate about guiding civil service aspirants and has taken up this as a full time profession. <br>
  <br>
The institute offers unique mentorship and guidance programmes where excelling in the examination is the key focus and all facilities and mentorship is  provided in terms of facilitating aspirants to crack one of the most difficult exams in the country in the first attempt itself. <br><br>
Unique in its pedagogy and teacher to student interaction, the institute extends one to one interaction with students and day to day follow up mechanism.  This special focus helps aspirants not only in maintaining the momentum for preparation but also for grasping the issues fluently and solving any problems during the course of preparation.<br><br>
Signifying its name, we at Prerna IAS are solely driven by the founding value of constant motivation coupled with the passion of making our dreams come true.   <br><br>
 Prerna IAS makes ceaseless efforts to make the arduous task of preparation for this exam an enjoyable and memorable experience. 
</p>
